body
{
    background-color: rgb(255, 210, 217);
}

.heading
{
    text-align: center;
    font-size: 4rem;
}

.info-box
{
    border: 5px solid purple;
    background-color: rgb(227, 158, 170);
    padding: 2%;
    margin: 2%;
}

.leader-name
{
    text-align: center;
}

.info-box-contents
{
    display: flex;
    justify-content: space-between;
}

.info-box-text
{
    padding: 2%;
}

.leader-photo
{
    max-width: 10rem;
    height: auto; 
}