body
{
    background-color: rgb(255, 210, 217);

    background: linear-gradient(to bottom right, #f9c5d1, #f67aa7);
    
    font-family: ubuntu;
}

.heading
{
    text-align: center;
    font-size: 4rem;
    font-family: 'Press Start 2P';
    color: rgb(65, 0, 65);
}

.info-box
{
    border: 5px solid purple;
    background-color: rgb(255, 205, 213);
    padding: 2%;
    margin: 2%;
}

.leader-name
{
    text-align: center;
}

.info-box-contents
{
    display: flex;
    justify-content: space-between;
}

.info-box-text
{
    padding: 2%;
}

.leader-photo
{
    max-width: 15%;
    height: auto; 
}